<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/home/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/home/css/style.css" />
    <link rel="stylesheet" href="/home/css/responsive.css" />
    <link rel="stylesheet" href="/home/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/home/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/home/css/owl.theme.default.min.css" />
    <link rel="icon" href="/img/no.png" type="image/png" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen"
    />
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/ecf0c10895.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo">
          <a href="index.html" class="navbar-brand"
            ><img class="img-logo mr-2" src="/img/no.png" />
            REGION DE L'ORIENTAL
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admin/login">ESPACE ADMIN</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/login">SE CONNECTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">S'INSCRIRE</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Fin de la section en-tête -->

    <!-- Banner Section -->
    <div class="banner_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/img/img2.png" class="img2" />
          </div>
          <div class="col-md-6">
            <h1 class="video_text">Stages dans la Région Orientale</h1>
            <p class="banner_text">
              Découvrez nos opportunités de stage passionnantes dans la Région
              Orientale du Maroc.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="about_section layout_padding pt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="about_text">À PROPOS</h2>
            <p class="lorem_text">
              Découvrez notre programme de stages conçu pour offrir une
              expérience enrichissante aux étudiants dans la Région Orientale du
              Maroc. Rejoignez-nous pour bénéficier de cette opportunité unique
              et inscrivez-vous dès maintenant.
            </p>
            <div class="shop_bt_2">
              <a href="/register">S'inscrire</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="/img/img1.png" alt="About Image" class="p-3" />
          </div>
        </div>
      </div>
    </div>

    <footer
      class="text-center text-white footer_section pt-3"
      style="background-color: #3f51b5"
    >
      <div class="container">
        <section class="mb-3">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Explorez des opportunités passionnantes et rejoignez-nous pour
                façonner l'avenir. Nous croyons en la puissance du savoir et de
                l'innovation pour transformer des vies.
              </p>
            </div>
          </div>
        </section>
        <section class="text-center mb-3">
          <a href="#" class="text-white mx-1">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#" class="text-white mx-1">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="text-white mx-1">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Tous droits réservés.
      </div>
    </footer>

    <!-- JavaScript Files -->
    <script src="/home/js/jquery.min.js"></script>
    <script src="/home/js/popper.min.js"></script>
    <script src="/home/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
