<ul class="navbar-nav ml-auto">
  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
  <li class="nav-item dropdown no-arrow d-sm-none">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="searchDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-search fa-fw"></i>
    </a>
    <!-- Dropdown - Messages -->
    <div
      class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
      aria-labelledby="searchDropdown"
    >
      <form class="form-inline mr-auto w-100 navbar-search">
        <div class="input-group">
          <input
            type="text"
            class="form-control bg-light border-0 small"
            placeholder="Search for..."
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </li>

  <!-- Nav Item - Alerts -->
  <li class="nav-item mx-1">
    <a class="nav-link" href="/admin/logout">
      <i class="fa-solid fa-power-off"></i>
    </a>
  </li>

  <div class="topbar-divider d-none d-sm-block"></div>

  <li class="nav-item dropdown no-arrow">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=name%></span>
      <img class="img-profile rounded-circle" src="/img/admin.png" />
    </a>
    <div
      class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="userDropdown"
    >
      <a
        class="dropdown-item"
        href="#"
        data-toggle="modal"
        data-target="#exampleModal"
        id="modalTrigger"
      >
        <i class="fa-solid fa-gears mr-2 text-gray-400"></i>
        Paramètres
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="#"
        data-toggle="modal"
        data-target="#logoutModal"
      >
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Déconnexion
      </a>
    </div>
  </li>
</ul>

<!-- !Settings Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Paramètres</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/admin/changes" method="post">
          <div class="container my-3">
            <div class="row">
              <div class="input-group mb-4">
                <span class="input-group-text">Nom complet:</span>
                <input
                  type="text"
                  aria-label="First name"
                  class="form-control"
                  name="Nom"
                />
                <input
                  type="text"
                  aria-label="Last name"
                  class="form-control"
                  name="prenom"
                />
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input
                type="email"
                aria-label="First name"
                class="form-control"
                name="email"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" type="submit">
          Enregister
        </button>
      </div>
    </div>
  </div>
</div>
