<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- todo -->
          <% stagers.forEach((stager, i) => {%>
          <tr>
            <td><%= stager.nom %></td>
            <td><%= stager.prenom %></td>
            <td><%= stager.email %></td>
            <td>
              <a class="btn btn-success" href="/admin/new/<%= stager._id %>">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a class="btn btn-secondary">
                <i class="fa-regular fa-comment-dots"></i>
              </a>
            </td>
          </tr>
          <%}); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
