<div class="row align-items-center py-3">
  <div class="col-md-3 ps-5">
    <h6 class="mb-0">Confirmer le mot de passe:</h6>
  </div>
  <div class="col-md-9">
    <input
      type="password"
      class="form-control form-control-md"
      placeholder="Entrer un mot de passe"
      name="confirmerpass"
    />
  </div>
</div>
