<div class="form-group">
  <input
    type="email"
    class="form-control form-control-user"
    id="Email"
    placeholder="Adresse e-mail"
    maxlength="100"
    name="email"
    required
  />
</div>
